a{
  text-decoration: none;
  color: black;
  padding: 20px;
  font-weight: bold;
}
ul{
display: flex;
list-style-type: none;
padding: 0;
margin: 0;
}

.navbar-collapse{
  justify-content: flex-end;
}

ul:hover li:not(:hover) a {
  color:BLACK;
  opacity: 0.1;
}
p{
  text-align: center;
}
#h66{
  text-align:center;
}
.slider{
  margin-bottom: 50px;
}
.right-side img{
padding-top: 100px;
text-align:left;
}
#h33{
text-align: right;
}
#div1{
  text-align: center;

}
.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card{
flex: 0 0 200px;
border: 1px solid black;
box-shadow: 2px 2px 6px 0px;
padding: 10px;
}

.card img{
  max-width: 100%;
}

.card .text{
  padding: 0 20px 20px;
}
.card .text > button{
padding: 10px;
background-color: gray;
color: white;
width: 100%;
border: 0;
}
